{{ define "title" }}
<title> {{ .Site.Title }} </title>
{{ end }}

{{ define "main" }}
<div class="quotes">
  <div>First, solve the problem.</div>
  <div>Then, write the code.</div>
</div>

<div class="posts">
  {{ $paginator := .Paginate (where .Site.RegularPages "Type" "page") }}
  {{ partial "pagination.html" . }}
  {{ range $paginator.Pages }}
    <div class="home-post markdown-body">
      <div class="home-post-header">
        <a class="home-post-title" href="{{ .Permalink }}">{{ .Title }}</a>
        <div class="home-post-date">{{ .Date.Format "2006-01-02" }}</div>
      </div>
      <div class="home-post-content">
        <div class="home-post-summary">{{ .Summary }}</div>
        {{ if .Params.Cover }}
        <img class="home-post-cover" src="{{ .Params.Cover | absURL }}" />
        {{ end }}
      </div>
    </div>
  {{ end }}
</div>
{{ end }}
