@charset "UTF-8";
@import url(//cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css);
@import url(//fonts.cdnfonts.com/css/russo-one);

/*====== Variables ======*/
.theme-light {
  --white-color: #FFFFFF;
  --black-color: #121113;
  --background-color: #FCFCFC;
  --font-color: #5B5C5D;
  --label-color: #95999d;
  --quotes-color: #5B5C5D;
  --foil-color: #F2F3F3;
  --deep-foil-color: #DDDDDD;
  --tint-color: #5be207;
  --shadow-color: rgba(0, 0, 0, 0.1);
}

.theme-dark {
  --white-color: #121113;
  --black-color: #FFFFFF;
  --background-color: #1F1F1F;
  --font-color: #E2E1E2;
  --label-color: #76787b;
  --quotes-color: #818487;
  --foil-color: #333333;
  --deep-foil-color: #666666;
  --tint-color: #4dbc08;
  --shadow-color: rgba(150, 150, 150, 0.1);
}

/*====== Normalize ======*/

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: PingFang, Arial, Helvetica, Microsoft Yahei, sans-serif;
}
body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--background-color);

  display: flex;
  flex-direction: column;
}

a {
  color: var(--font-color);
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: var(--tint-color);
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

.toc-list-item::marker {
  content: '';
}

.toc-list-item > a {
  display: flex;
  align-items: stretch;
}

.toc-list-item > a::before {
  content: '';
  display: block;
  width: 2px;
  margin-right: 4px;
  background-color: var(--deep-foil-color);
}

.toc-list-item > a.is-active-link {
  color: var(--tint-color);
}
.toc-list-item > a.is-active-link::before {
  background-color: var(--tint-color);
}

/*====== Base ======*/

.space-s > *:not(:first-child) {
  margin-left: 0.5rem;
}

.space-m > *:not(:first-child) {
  margin-left: 1.2rem;
}

.action-btn {
  height: 32px;
  width: 64px;
  color: var(--font-color);
  min-width: 32px;
  background-color: var(--foil-color);
  border-radius: 4px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.action-btn:hover {
  color: var(--font-color);
  background-color: var(--deep-foil-color);
}

.footer {
  font-size: 0.8rem;
  height: 44px;
  color: var(--font-color);
  width: 100vw;
  text-align: center;
  line-height: 44px;
}

/*====== Header ======*/
header {
  width: 100vw;
  position: sticky;
  top: 0;
  height: 64px;
  font-size: 1rem;
  padding: 0px 10vw;
  background-color: var(--white-color);

  z-index: 1;

  display: flex;
  align-items: center;

  margin-bottom: 24px;

  box-shadow: 0px 4px 8px var(--shadow-color);
}

.header-leading {
  display: flex;
  align-items: center;
}

.header-menus {
  flex: 1;
  display: flex;
  justify-content: center;
}

.header-menu-item {
  color: var(--font-color);
}

.header-menu-item:hover,.header-menu-item.active {
  color: var(--tint-color);
}

/*====== main ======*/

#main {
  flex: 1;
  width: 60vw;
  min-width: 400px;
  margin: 0px auto 40px;
}

/*====== home ======*/
.quotes {
  color: var(--quotes-color);
  font-size: 44px;
  font-family: 'Russo One', sans-serif;
  padding: 10vh 0vh;

  text-align: center;
}

.posts {
  padding: 16px;
  background-color: var(--white-color);
  box-shadow: 0px 0px 8px var(--shadow-color);
  border-radius: 4px;
}

.home-post:not(:last-child)::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--label-color);
  margin: 32px 0px;
}

.home-post-header,
.home-post-content {
  display: flex;
  justify-content: space-between;
}

.home-post-title {
  font-size: 1.4rem;
}

.home-post-content .home-post-summary {
  font-size: 1rem;
  margin-top: 12px;
}

.home-post-content {
  margin-top: 8px;
}

.home-post-cover {
  width: 140px;
  height: 80px;
  border-radius: 2px;
  justify-self: flex-end;
  margin-left: auto;
}

.home-post-date {
  color: var(--label-color);
  text-align: right;
}

/*====== archive ======*/
.archive-list {
  padding: 16px;
  background-color: var(--foil-color);
  box-shadow: 0px 0px 8px var(--shadow-color);
}

.archive-post {
  display: flex;
  align-items: stretch;
}

.archive-post .divider {
  width: 1px;
  background-color: #BBBBBB;
  margin: 2px 8px;
}

/*====== single post ======*/
.content {
  display: flex;
}
.single-post {
  width: 100%;
  padding: 16px;
  background-color: var(--background-color);
  box-shadow: 0px 0px 8px var(--shadow-color);
  border-radius: 4px;
}
.single-post .single-post-date {
  color: var(--label-color);
  margin-bottom: 24px;
}

.table-of-content {
  position: fixed;
  top: 88px;
  transform: translateX(calc(-100% - 24px));
}

.table-of-content ul {
  margin: 0px;
}

.table-of-content ol {
  padding-left: 16px;
}



@media screen and (max-width: 540px) {
  html {
    font-size: 14px;
  }

  #main {
    width: 94vw;
    min-width: unset;
  }

  .quotes {
    font-size: 28px;
  }

  .action-btn {
    width: 44px;
    height: 28px;
    font-size: 1rem;
  }

  .content .markdown-body h1 {
    font-size: 1.6rem;
  }

  .content .markdown-body h2 {
    font-size: 1.4rem;
  }

  .content .markdown-body h3 {
    font-size: 1.3rem;
  }

  .content .markdown-body h4 {
    font-size: 1.2rem;
  }

  .table-of-content {
    display: none;
  }
}
