<header>
  <div class="header-leading space-12">
    <a class="action-btn" href="//github.com/tilemoon" target="_blank">
      <i class="fa fa-github fa-lg" aria-hidden="true"></i>
    </a>
  </div>
  <div class="header-menus space-24">
    {{ range .Site.Menus.main}}
      <a class="header-menu-item" href="{{ .URL }}">{{ .Name }}</a>
    {{ end }}
  </div>
  <div class="header-actions space-12">
    <button id="theme-toggle" class="action-btn" onclick="toggleTheme()">
      <i class="fa fa-sun-o fa-lg" aria-hidden="true"></i>
    </button>
  </div>
</header>
