<header>
  <div class="header-leading space-12">
    <a class="header-action-btn" href="//github.com/tilemoon" target="_blank">
      <i class="fa fa-github fa-lg" aria-hidden="true"></i>
    </a>
    <button class="header-action-btn" target="_blank">
      <i class="fa fa-moon-o fa-lg" aria-hidden="true"></i>
    </button>
  </div>
  <div class="header-menus space-24">
    <a class="header-menu-item" href="/posts">Home</a>
    <a class="header-menu-item" href="/posts">Posts</a>
    <a class="header-menu-item" href="/posts">Profile</a>
  </div>
  <div class="header-actions space-12"></div>
</header>
