<header>
  <div class="header-leading space-12">
    <a class="action-btn" href="//github.com/tilemoon" target="_blank">
      <i class="fa fa-github fa-lg" aria-hidden="true"></i>
    </a>
  </div>
  <div class="header-menus space-24">
    <a class="header-menu-item" href="/">{{ "Home" }}</a>
    <a class="header-menu-item" href="/archive">{{ "Archive" }}</a>
    <a class="header-menu-item" href="/profile">{{ "Profile" }}</a>
  </div>
  <div class="header-actions space-12">
    <button class="action-btn" target="_blank">
      <i class="fa fa-moon-o fa-lg" aria-hidden="true" onclick="toggleTheme()"></i>
    </button>
  </div>
</header>
